:root {
  --border-radius: 0.3rem;

  --colors-primary: #0f7ef1;
  --colors-secondary: #023e8a;
  --colors-white: #f7f7f7;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

button {
  border: none;
  border-radius: var(--border-radius);

  cursor: pointer;

  font-weight: 700;

  letter-spacing: 0.02em;

  outline: none;

  padding: 1rem 0;

  text-transform: uppercase;
}

input,
select,
textarea {
  border: none;

  outline: none;

  transition: border-color 0.2s ease-in;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--colors-primary);
}

select {
  border: 0.2rem solid #ebf2f8;
  border-radius: var(--border-radius);

  line-height: 1.5;

  padding: 0.8rem 1.5rem;
}

label,
legend {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;

  margin-bottom: 1.5rem;
}

fieldset {
  border: none;

  margin: 0;
  padding: 0;
}

@media (min-width: 280px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 340px) {
  body {
    font-size: 1.6rem;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 1.8rem;
  }
}

/* ========================================================================== */
/* BUTTONS */
/* ========================================================================== */

.btn {
  color: var(--colors-white);
  background-color: var(--colors-primary);

  width: 100%;

  transition: background-color 0.3s ease-in;
}

.btn:hover {
  background-color: #0d76e2;
}

/* ========================================================================== */
/* TITLE */
/* ========================================================================== */

.title {
  margin: 0;
  padding: 2rem;
}

@media (min-width: 340px) {
  .title {
    padding: 3rem;
  }
}

/* ========================================================================== */
/* FORM */
/* ========================================================================== */

.form {
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__input {
  border: 0.2rem solid #ebf2f8;
  border-radius: var(--border-radius);

  line-height: 1.5;

  padding: 0.8rem 1.5rem;
}

.form__row,
.form__group,
.form__range {
  margin-bottom: 1.5em;
}

.form__check {
  display: flex;
  align-items: center;
}

.form__check:not(:last-child) {
  margin-bottom: 2rem;
}

.form__check-label {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;

  margin: 0;
  margin-left: 1rem;

  padding: 0;
}

.form__range-group {
  display: flex;
  align-items: center;

  margin-top: 1.5rem;
}

.form__range-input {
  flex: 1;
}

.form__range-indicator {
  background-color: var(--colors-primary);

  border-radius: var(--border-radius);

  color: var(--colors-white);

  font-family: 'Nunito', sans-serif;

  margin-left: 1em;

  padding: 0.5rem;

  position: relative;

  text-align: center;

  width: 8rem;
}

.form__range-indicator::before {
  background-color: var(--colors-primary);

  content: '';

  left: -0.5rem;
  top: 50%;

  position: absolute;

  transform: translateY(-50%) rotate(45deg);

  width: 1rem;
  height: 1rem;
}

@media (min-width: 340px) {
  .form {
    margin-bottom: 3rem;
    padding: 0 3rem;
  }

  .form__actions {
    padding: 2.5rem 3rem;
  }
}

@media (min-width: 576px) {
  .title {
    max-width: 58rem;

    margin: 0 auto;
  }

  .form {
    max-width: 58rem;

    margin: 0 auto 3rem;
  }

  .form__row {
    display: flex;
  }

  .form__row > .form__group {
    flex: 1;

    margin-bottom: 0;
  }

  .form__row > .form__group:not(:last-child) {
    margin-right: 1.5em;
  }

  fieldset {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  .form__check:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1500px) {
  .form__input {
    width: 100%;
  }
}

/* ========================================================================== */
/* ERROR */
/* ========================================================================== */

.error {
  margin-top: 0.5em;

  color: red;

  display: flex;
  align-items: center;

  gap: 1rem;
}

/* ========================================================================== */
/* EASTER EGG */
/* ========================================================================== */

.easter-egg {
  background: #000;

  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;

  display: grid;
  place-content: center;

  position: fixed;
}

.easter-egg__container {
  display: grid;
  place-items: center;

  padding: 0 2rem;

  text-align: center;

  width: 100vw;
}

.easter-egg__title {
  color: var(--colors-primary);

  font-size: 2em;
  font-weight: 900;

  line-height: 1.2;

  margin: 0;
  margin-bottom: 0.5rem;

  max-width: 45rem;
}

.easter-egg__image-container {
  height: 25rem;
}

.easter-egg__text {
  color: var(--colors-secondary);

  font-size: 1.2em;

  line-height: 1.5;

  margin: 0;
  margin-top: 0.5rem;

  max-width: 40rem;
}

.easter-egg__code {
  font-family: 'Nunito Sans', sans-serif;
}

.easter-egg__button {
  background-color: var(--colors-primary);

  color: var(--colors-white);

  display: grid;

  place-content: center;

  border-radius: 50%;

  padding: 1em;

  position: absolute;

  bottom: 1em;
  right: 2rem;

  transition: background-color 0.3s ease-in;
}

.easter-egg__button:hover {
  background-color: #0d76e2;
}

@media (min-width: 340px) {
  .easter-egg__container {
    padding: 0 3rem;
  }

  .easter-egg__button {
    right: 3rem;
  }
}

@media (min-width: 576px) {
  .easter-egg__container {
    max-width: 58rem;
  }
}

@media (min-width: 768px) {
  .easter-egg__container {
    padding: 0;
  }

  .easter-egg__image-container {
    height: 30rem;
  }
}

@media (min-width: 768px) and (min-height: 700px) {
  .easter-egg__container {
    padding: 0;
  }

  .easter-egg__image-container {
    height: 40rem;
  }
}

@media (min-height: 250px) and (max-height: 300px) {
  .easter-egg__image-container {
    height: 7rem;
  }
}

@media (min-height: 300px) and (max-height: 350px) {
  .easter-egg__image-container {
    height: 10rem;
  }
}

@media (min-height: 350px) and (max-height: 400px) {
  .easter-egg__image-container {
    height: 15rem;
  }
}

@media (min-height: 400px) and (max-height: 500px) {
  .easter-egg__image-container {
    height: 20rem;
  }
}
